<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages App</title>
</head>

<body>
  <h1>You can enter a message</h1>
  <div>

    <form action="api/messages" method="POST">
      <input type="text" name="username" placeholder="your name">
      <input type="text" name="message" placeholder="your message">
      <button type="submit">Send</button>
    </form>
  </div>
  <div>
    <h2>Show all messages</h2>
    <ul>
      <% messages.forEach(message=> { %>
        <li>
          <h3>
            <%= message.username %>
          </h3>
          <p>
            <%= message.message %>
          </p>
        </li>
        <% }) %>
  </div>
</body>

</html>